*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

body{
    width: auto;
    height: 100%;
    background:url("/images/sitebg2.jpeg") no-repeat center fixed;
    background-size: cover;
    
}

section{
    padding: 6rem 0;
}

a{
    text-decoration: none;
    color: #000000;
}

p{
    font-size: 1.8rem;
    font-weight: 300;

}

img{
    width: 100%;
}
li{
  display: flex;
}

header{
  width: 100%;
  height: 100vh;
}

.container{
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}


.landing-pg-text{
    position: absolute;
    color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    z-index: 1;
 }

 .landing-pg-text h1{
    font-size: 10rem;
    padding: 1rem;
    user-select: none;
}

.landing-pg-text h2{
    font-size: 2rem;
    font-weight: 300;
}

nav {
  padding: 1rem 0; /* Optional: Padding oben und unten */
  }
  
  /* Styling für die Navigationsliste */
  .nav-list {
    display: flex; /* Flexbox verwenden, um die Listenelemente nebeneinander anzuzeigen */
    justify-content: space-evenly; /* Verteilt die Listenelemente gleichmäßig */
    align-items: center; /* Zentriert die Listenelemente vertikal */
    padding: 0; /* Entfernt Standard-Padding der ul */
    margin: 0; /* Entfernt Standard-Margin der ul */
    list-style: none; /* Entfernt die Aufzählungszeichen */
  }
  
  /* Styling für die Listenelemente */
  .nav-list li {
    margin: 0 20px; /* Optionaler Abstand zwischen den einzelnen Listenelementen */
  }
  
  /* Styling für die Links */
  .nav-list a {
    color: rgb(0, 0, 0); /* Textfarbe der Links */
    text-decoration: none; /* Entfernt die Unterstreichung der Links */
    font-size: 1.6rem; /* Schriftgröße */
    padding: 10px 15px; /* Padding für etwas Abstand rund um den Text */
    display: block; /* Damit das Padding auf den gesamten Link angewendet wird */
  }
  
  /* Hover-Effekt für die Links */
  .nav-list a:hover {
    background-color: #00ff95; /* Hintergrundfarbe beim Hover */
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 5.5rem; /* 60px => 6 * 10px (font-size des Root-Elements) */
    height: 3.0rem; /* 34px => 3.4 * 10px */
  }
  
  /* Toggle Switch */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Der Slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
  
  /* Der Kreis im Inneren des Sliders */
  .slider:before {
    position: absolute;
    content: "";
    height: 2.0rem; /* 26px => 2.6 * 10px */
    width: 2.0rem; /* 26px => 2.6 * 10px */
    left: 0.4rem; /* 4px => 0.4 * 10px */
    bottom: 0.4rem; /* 4px => 0.4 * 10px */
    background-color: white;
    transition: .4s;
  }
  
  /* Wenn der Switch aktiviert ist */
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  
  /* Der Kreis bewegt sich nach rechts, wenn aktiviert */
  input:checked + .slider:before {
    transform: translateX(2.6rem); /* 26px => 2.6 * 10px */
  }
  
  /* Runde Form für den Switch */
  .slider.round {
    border-radius: 3.4rem; /* 34px => 3.4 * 10px */
  }
  
  .slider.round:before {
    border-radius: 100%;
  }
/* Toggle Switch-Ende */

.aboutme .container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutme-heading{

  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
}

.aboutme-heading h1{
  font-size: 10rem;
  opacity: .3;
}

.aboutme-heading h6{
  font-size: 2rem;
  font-weight:300;

}

.profile-img{
  border-radius: 50%;
  flex:1;
  margin-right: 5rem;
  
}

#profile-img{
  border-radius: 5%;
}